<div style="height: 100px;" class="col-md-2 col-sm-2 col-xs-3">
    <div style="background-color: white; padding: 8px; border-radius: 8px; border: solid #ccc 1px">
        <div><img src="<%= emoticon.get_image_url %>"/></div>
        <div style="text-align: center; font-size: 12px; word-wrap: break-word"><%= emoticon.string_id %></div>
    </div>
</div>