<div style="height: 100px;" class="col-md-1 col-sm-3 col-xs-4">
    <div style="background-color: #fefefe; padding: 8px; border-radius: 8px; border: solid #ccc 1px">
        <div><img src="<%= emoticon.image_url %>"/></div>
        <div style="text-align: center; font-size: 12px; word-wrap: break-word"><%= emoticon.string_id %></div>
    </div>
</div>