<% provide(:title, 'Twitch Chat Emoticons') %>
<% provide(:description, 'A comprehensive list of all emoticons available on Twitch.tv. TwitchQuotes is the leading website for anything Twitch chat related.') %>

<div class="row" style="margin-bottom: 32px;">
    <div class="col-md-12">
        <div style="font-size: 24px; display: inline-block; padding: 8px 12px; border-radius: 10px; background-color: #866bb9; color: white; font-weight: bold;">Default emotes</div>
    </div>
</div>

<div class="row">
    <%= render @emoticons_robots %>
</div>

<div class="row" style="margin-bottom: 32px;">
    <div class="col-md-12">
        <div style="font-size: 24px; display: inline-block; padding: 8px 12px; border-radius: 10px; background-color: #866bb9; color: white; font-weight: bold;">Special emotes</div>
    </div>
</div>

<div class="row">
    <%= render @emoticons_faces %>
</div>