<div class="row" style="margin-bottom: 32px;">
    <div style="font-size: 24px; display: inline-block; padding: 8px 12px; border-radius: 10px; background-color: #866bb9; color: white; font-weight: bold;">Default emotes</div>
</div>

<div class="row">
    <%= render @emoticons_robots %>
</div>

<div class="row" style="margin-bottom: 32px;">
    <div style="font-size: 24px; display: inline-block; padding: 8px 12px; border-radius: 10px; background-color: #866bb9; color: white; font-weight: bold;">Special emotes</div>
</div>

<div class="row">
    <%= render @emoticons_faces %>
</div>