<div class="page-header">
  <h1>About TwitchQuotes <small>Twitch chat is awesome!</small></h1>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p>Twitch chat is considered by many to be a cesspool of stupidity and nonsense. However, within the chaos that is the constant spamming and shitposting of Twitch chat, there will occasionally be an absolutely hilarious/ridiculous comment. You would read it, laugh at it, and then it would be gone forever. <span style="color: #866bb9">TwitchQuotes</span> is a way to preserve these comments. You can add, save, and browse some of the best comments that have ever come out of Twitch chat. Ｐｌｚ ｎｏ ｃｏｐｙ ｐａｓｔｅｒｉｎｏ ａｌ ｐａｃｉｎｏ ｐｉｓｔａｃｈｉｏ. <img style="display: inline-block" src="<%= asset_path("kappa.png") %>"/></p>
	</div>
</div>

<div class="row">
	<div id="mywebsite_parent" class="col-md-4 col-md-offset-4">
		<%= link_to "Developer's Website", "http://www.kevinpan.ca", class:"btn btn-mywebsite btn-lg" %>
	</div>
</div>