<% provide(:title, 'Copypasta Builder - Unicode Text Converter') %>
<% provide(:description, 'Build Twitch chat copypastas using unicode fonts, dongers, and more. Choose between a large variety of fonts, dongers, and donger accessories. TwitchQuotes is the leading online database for Twitch chat copypastas') %>

<div class="row">
    <div class="col-md-10">

        <div class="panel panel-default panel-builder">
          <div class="panel-heading">Copypasta Builder</div>
          <div class="panel-body">
            <div class="btn-group" id="font-selector">
                <button style="background-color: #F9F9F9" type="button" class="btn btn-default">Font</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="current-font"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" id="font-selector-menu"></ul>
            </div>
            <textarea id="builder" rows="5" placeholder="Type your spam here"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default panel-builder">
              <div class="panel-heading">Dongers</div>
              <div class="panel-body">
                <div class="eu">ຈل͜ຈ</div> <div class="eu">ಠ_ಠ</div> <div class="eu">Ծ_Ծ</div> <div class="eu">ಠ~ಠ</div> <div class="eu">(ಠ╭╮ಠ)</div> <div class="eu">ヽ༼ຈل͜ຈ༽ﾉ</div> <div class="eu">(ง ͠° ͟ʖ ͡°)ง</div> <div class="eu">(ง'̀-'́)ง</div> <div class="eu">༼ つ ◕_◕ ༽つ</div> <div class="eu">( ͡° ͜ʖ ͡°)</div> <div class="eu">( ͡~ ͜ʖ ͡°)</div> <div class="eu">ヽ( ͝° ͜ʖ͡°)ﾉ</div> <div class="eu">୧༼ಠ益ಠ༽୨</div> <div class="eu">ᕙ༼ຈلຈ༽ᕗ</div> <div class="eu">༼ ▀̿̿Ĺ̯̿̿▀̿ ̿ ༽</div> <div class="eu">༼ ಠل͟ರೃ ༽</div> <div class="eu">ლ(◉◡◔ლ)</div> <div class="eu">(⌐■_■)</div> <div class="eu">(̿▀̿ ̿Ĺ̯̿̿▀̿ ̿)̄</div> <div class="eu">ᕙ( ^ₒ^ c)</div> <div class="eu">༼ ºل͟º ༽</div> <div class="eu"> [̲̅$̲̅(̲̅ ͡° ͜ʖ ͡°̲̅)̲̅$̲̅]</div> <div class="eu">ʕ•ᴥ•ʔ</div> <div class="eu">ヽ( ͡°╭͜ʖ╮͡° )ﾉ</div> <div class="eu">(ʘᗩʘ')</div> <div class="eu">(◕‿◕✿)</div> <div class="eu">~(˘▾˘~)</div> <div class="eu">☜(՞ਊ ՞　)</div> <div class="eu">ԅ(‾⌣‾ԅ)</div> <div class="eu">(❍ᴥ❍ʋ)</div> <div class="eu">ʕ ͡◊ ͜◉ ͡◊ ʔ</div> <div class="eu">/{▀益▀}\</div> <div class="eu">༼◥▶ل͜◀◤༽</div> <div class="eu">୧༼ಠ益▀̿༽୨</div> <div class="eu">◥·̿Ĺ̯·̿ ̿◤</div> <div class="eu">( ͡ʘ╭͜ʖ╮͡ʘ)</div> <div class="eu">(つ•̀ᴥ•́)つ</div> <div class="eu">( ͡° ͜◯ ͡°)</div> <div class="eu">ԅ[✖Ĺ̯ಠ]/</div> <div class="eu">╭(◕◕ ◉෴◉ ◕◕)╮</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default panel-builder">
              <div class="panel-heading">Accessories</div>
              <div class="panel-body">
                <div class="eu">_•︻̷̿┻̿═━一</div> <div class="eu">=/̵͇̿̿/'̿'̿̿̿ ̿ ̿̿</div> <div class="eu"> ▬▬▬▬▬▬▬▬▬▬▬ஜ۩۞۩ஜ▬▬▬▬▬▬▬▬▬▬▬ </div> <div class="eu">☑</div> <div class="eu">☐</div> <div class="eu">━☆</div> <div class="eu"><:::::[]=¤</div> <div class="eu">¤=[]:::::></div> <div class="eu">♫</div> <div class="eu">♪</div> <div class="eu">[̲̅$̲̅(̲̅5)̲̅$̲̅]</div> <div class="eu">~~~~~~~[]=¤</div> <div class="eu">¤=[]~~~~~~~</div> <div class="eu">┻━┻</div> <div class="eu">┳━┳</div> <div class="eu">├┬┴┬ </div> <div class="eu">┴┬┴┤</div> <div class="eu">✿</div> <div class="eu">✔</div>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="col-md-2 hidden-xs hidden-sm">
        <%= render 'layouts/ads/adsense/desktop/vertical_ads' %>
    </div>
</div>
