<% provide(:title, 'Quote Builder - Unicode Text Converter') %>

<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default panel-builder">
          <div class="panel-heading">Builder</div>
          <div class="panel-body">
            <div class="btn-group" id="font-selector">
                <button style="background-color: #F9F9F9" type="button" class="btn btn-default">Font</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="current-font"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" id="font-selector-menu"></ul>
            </div>
            <textarea id="builder" rows="5" placeholder="Type your spam here"></textarea>
          </div>
        </div>

        <div class="panel panel-default panel-builder">
          <div class="panel-heading">Unicode Emoticons</div>
          <div class="panel-body">
            <div class="eu">ຈل͜ຈ</div> <div class="eu">ಠ_ಠ</div> <div class="eu">Ծ_Ծ</div> <div class="eu">ಠ~ಠ</div> <div class="eu">(ಠ╭╮ಠ)</div> <div class="eu">ヽ༼ຈل͜ຈ༽ﾉ</div> <div class="eu">(ง ͠° ͟ʖ ͡°)ง</div> <div class="eu">(ง'̀-'́)ง</div> <div class="eu">༼ つ ◕_◕ ༽つ</div> <div class="eu">( ͡° ͜ʖ ͡°)</div> <div class="eu">( ͡~ ͜ʖ ͡°)</div> <div class="eu">ヽ( ͝° ͜ʖ͡°)ﾉ</div> <div class="eu">Ծ_Ծ</div> <div class="eu">୧༼ಠ益ಠ༽୨</div> <div class="eu">ᕙ༼ຈلຈ༽ᕗ</div> <div class="eu">༼ ▀̿̿Ĺ̯̿̿▀̿ ̿ ༽</div> <div class="eu">༼ ಠل͟ರೃ ༽</div> <div class="eu">ლ(◉◡◔ლ)</div> <div class="eu">(⌐■_■)=/̵͇̿̿/'̿'̿̿̿ ̿ ̿̿</div> <div class="eu">(̿▀̿ ̿Ĺ̯̿̿▀̿ ̿)̄_•︻̷̿┻̿═━一</div> <div class="eu">ᕙ( ^ₒ^ c)</div> <div class="eu">༼ ºل͟º ༽</div>
          </div>
        </div>

    </div>

    <div class="col-md-2 hidden-xs hidden-sm">
        <div style="margin-bottom: 25px">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- TwitchQuotes Main Page -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:120px;height:600px"
                 data-ad-client="ca-pub-0144173183236578"
                 data-ad-slot="6799625657"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- TwitchQuotes Main Page 2 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:120px;height:600px"
                 data-ad-client="ca-pub-0144173183236578"
                 data-ad-slot="8136758056"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>