<div class="quote_actions"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="glyphicon glyphicon-thumbs-down"></span> <%= link_to quote_path(quote) do %>
    <span class="glyphicon glyphicon-link quote_link" title="Link to quote"></span>
<% end %></div>