<% provide(:title, 'All Quotes') %>

<% if has_announcement? %>
    <%= render 'announcements/announcements', msg: raw(latest_announcement) %>
<% end %>

<ul class="quotes">
	<%= render @quotes %>
</ul>

<div class="paginate_parent_bottom"><%= will_paginate %></div>