<% provide(:title, 'All Quotes') %>

<div class="row">
    <div class="col-md-10">
        <ul class="quotes quotes_with_ad">
            <%= render @quotes %>
        </ul>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- TwitchQuotes Main Page -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:120px;height:600px"
             data-ad-client="ca-pub-0144173183236578"
             data-ad-slot="6799625657"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<div class="paginate_parent_bottom"><%= will_paginate %></div>