<% provide(:title, 'Show Quote') %>
<div class="row">
    <div id="show_quote" class="single_quote_block">
        <div style="text-align: left"> <%= render "quotes/quote_actions", quote: @quote, quote_dom_id: @quote_dom_id %> </div>
        "<%=raw @quote.quote %>"
        <div class="quotes_list_stream_name_date">
            <%= link_to @quote.stream.name, stream_path(@quote.stream.name), {:style=>"color:#6040a1"} %>'s stream, posted <%= time_ago_in_words(@quote.created_at) %> ago
        </div>
    </div>
</div>

