<div class="row">
    <div class="col-md-12" style="background-color: white; padding-bottom: 12px">
        <div>
            <h2 style="text-align:left">Announcements</h2>
        </div>
        <table class="table table-hover">
            <thead>
                <th style="width: 5%">#</th>
                <th style="width: 60%">Content</th>
                <th style="width: 20%">Date</th>
                <th style="width: 15%">Actions</th>
            </thead>
            <tbody>
                <%= render @announcements %>
            </tbody>
        </table>
    </div>

    <div class="paginate_parent_bottom"><%= will_paginate %></div>
</div>