<%= form_for(Dislike.new, remote: true) do |f| %>
    <%= button_tag(type: 'submit') do %>
        <span class="fa fa-chevron-down"></span>
    <% end %>
    <%= render 'shared/like_dislike_form_hidden_fields', quote: quote %>
<% end %>