*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/lib/stats.rb
/tmp/*
/db/*.sqlite3
/public/system/*
/public/assets/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/actual_secret_token
heroku_db_import_export/*.dump