<% provide(:title, 'Random Quote') %>
<% provide(:description, 'Generate a random copypasta from the TwitchQuotes copypasta database. TwitchQuotes is the leading online database for Twitch chat copypastas') %>

<div class="row">
    <div id="show_quote" class="single_quote_block col-xs-8 col-xs-offset-2">
        <% unless @quote.text_art %>
            <div class="show_quote_text_area">"<%=raw @quote.quote %>"</div>
        <% else %>
            <div class="quote_text_art_label"><%= link_to 'text art', ascii_art_quotes_path %></div>
            <div class="quote_text_art_content_parent_show_quote">
                <span id="quote_content_<%= @quote_dom_id%>"><%=raw @quote.quote %></span>
            </div>
        <% end %>
        <div class="quotes_list_stream_name_date">
            <%= link_to quote_path(@quote), class: 'quote_link' do %>
                <span class="glyphicon glyphicon-link quote_link" title="Link to quote"></span>
            <% end %>
            <%= link_to @quote.stream.name, stream_path(@quote.stream.name), {:style=>"color:#6040a1"} %>'s stream, posted <%= time_ago_in_words(@quote.created_at) %> ago
        </div>
    </div>
    <div class="col-xs-1 hidden-xs">
        <%= link_to random_index_path, class: "btn btn-custom", style: "height: 100px; padding-top: 40px; margin-top: 5px" do %> <span class="glyphicon glyphicon-chevron-right"></span> <% end %>
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-3 col-xs-6 visible-xs">
        <%= link_to random_index_path, class: "btn btn-custom", style: "width: 100%; margin-top: 10px;" do %><span class="glyphicon glyphicon-refresh"></span> REFRESH<% end %>
    </div>
</div>

<% if [true, false].sample %>
    <div class="row random_quote_ad">
        <%= render 'layouts/ads/adsense/desktop/horizontal_ad_two' %>
    </div>

    <div class="random_quote_ad">
        <%= render 'layouts/ads/adsense/mobile/responsive_ad_two' %>
    </div>
<% end %>

<div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 20px; margin-bottom: 20px; text-align: center">
        Brought to you by <%= link_to 'TwitchQuotes', root_path, class: "btn btn-custom", style: "margin-left: 4px" %>
    </div>
</div>