<div class="btn-group-vertical" id="sort_buttons_parent">
	<%= link_to streams_path, class: "btn btn-default" do %>
		<span class="glyphicon glyphicon-sort-by-alphabet"></span>
	<% end %>
	<%= link_to streams_path(page: 1), class: "btn btn-default" do %>
		<span class="glyphicon glyphicon-sort-by-order-alt"></span>
	<% end %>
</div>