<% provide(:title, 'All Streams') %>

<% @streams.each_slice(5) do |stream_batch| %>
	<div class="row stream_row">
		<div class="col-md-1"></div>
		<%= render stream_batch %>
		<div class="col-md-1"></div>
	</div>
<% end %>