<% provide(:title, 'Quotes from ' + @stream.name) %>

<h1><%= @stream.name %>'s Stream</h1>

<ul class="quotes">
	<%= render @quotes %>
</ul>

<div class="paginate_parent_bottom"><%= will_paginate(@quotes) %></div>