<% if object.errors.any? %>
	<% object.errors.full_messages.each do |msg| %>
		<div class="alert alert-danger">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      <%= content_tag :div, msg %>
	    </div>
	<% end %>
<% end %>