<% initial_hide = false if local_assigns[:initial_hide].nil? %>

<a id="swagbucks" <% if initial_hide %> style="display: none" <% end %> target="_top" href="http://www.swagbucks.com/?cmd=sb-register&rb=16044763"><img alt="Search & Win" title="Search & Win" border="0" src="http://app4-cdn2.sbx-cdn.com/images/promote/swagbucks-468x60Alt5.jpg"></a>