<div id="ascii_art_square_ad" style="display: inline-block; width: 200px; height: 200px; position: relative;">
    <div style="position: absolute; top: 0; left: 0; background-color: #866bb9; color: white; width: 200px; height: 200px; font-size: 20px; padding: 40px 10px 0 10px;">
        (ง •̀_•́)ง ONE DAY I'LL BE A REAL AD (ง •̀_•́)ง
    </div>
    <div style="position: absolute; top: 0; left: 0;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- TwitchQuotes ASCII Art 3 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:200px;height:200px"
             data-ad-client="ca-pub-0144173183236578"
             data-ad-slot="4962004453"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>