<div style="margin-bottom: 25px; position: relative; height: 600px;">
    <%= render 'layouts/ads/adsense/vertical_ad_one' %>
</div>
<% if defined?(second) && second %>
    <div style="position: relative; height: 600px;">
        <%= render 'layouts/ads/adsense/vertical_ad_two' %>
    </div>
<% end %>