<div style="width: 120px; height: 600px; background-color: #866bb9; color: white; position: absolute; top: 0; left: 0; padding-top: 80px">
    <div style="padding: 0 5px; font-size: 28px; margin-bottom: 16px;">Another ad rekt by AdBlock</div>
    <div style="text-align: center"><img src="<%= EmoticonUtils::asset_path("emoticons/biblethump") %>" style="width: 40px" class="emoticon"/></div>
</div>
<!-- <div style="width: 120px; height: 600px; background-color: #866bb9; color: white; position: absolute; top: 0; left: 0; padding-top: 80px">
    <div style="padding: 0 5px; font-size: 28px; margin-bottom: 16px;">Every one uses AdBlock</div>
    <div style="text-align: center"><img src="<%= EmoticonUtils::EMOTICONS[:BabyRage] %>" style="width: 40px" class="emoticon"/></div>
</div> -->
<div style="position: absolute; top: 0; left: 0;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:120px;height:600px"
         data-ad-client="ca-pub-0144173183236578"
         data-ad-slot="8136758056"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>