<div style="margin-bottom: 25px">
    <%= render 'layouts/ads/adsense/vertical_ad_one' %>
</div>
<% if defined?(second) && second %>
    <div>
        <%= render 'layouts/ads/adsense/vertical_ad_two' %>
    </div>
<% end %>