<div id="mobile_horizontal_ad_two">
    <div style="position: absolute; top: 0; left: 0; background-color: #866bb9; color: white; width: 250px; height: 250px; font-size: 20px; padding: 40px 10px 0 10px;">
        (ง •̀_•́)ง ONE DAY I'LL BE A REAL AD (ง •̀_•́)ง
    </div>
    <div style="position: absolute; top: 0; left: 0;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- TwitchQuotes Main Page Mobile 2 -->
        <ins class="adsbygoogle hidden-md hidden-lg"
             style="display:inline-block;width:250px;height:250px"
             data-ad-client="ca-pub-0144173183236578"
             data-ad-slot="3845198055"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<script type="text/javascript" id="temp_init_mobile_horizontal_ad_one">
    show_mobile_horizontal_square("mobile_horizontal_ad_two", 9);
    $('#temp_init_mobile_horizontal_ad_one').remove();
</script>