<div class="hidden-md hidden-lg show_quote_ad_child_mobile">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- TwitchQuotes Responsive -->
    <ins class="adsbygoogle hidden-md hidden-lg"
         style="display:block"
         data-ad-client="ca-pub-0144173183236578"
         data-ad-slot="6497613251"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>