jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  alert('<%= ENV['TEST_CONFIG'] %>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true


window.fbAsyncInit = ->
  FB.init(appId: "<%= ENV['TQ_FACEBOOK_APP_ID'] %>", cookie: true)

  $('#facebook_sign_in').click (e) ->
    e.preventDefault()
    FB.login (response) ->
      window.location = '/auth/facebook/callback' if response.authResponse

  $('#facebook_sign_out').click (e) ->
    FB.getLoginStatus (response) ->
      FB.logout() if response.authResponse
    true