.admin_panel {
    padding-bottom: 12px;
    min-width: 1000px;
}

.admin_quotes_panel {
    min-width: 1000px;
}

.show_all {
    text-align: center;
}

.admin_quote_content {
    cursor: pointer;
}

.admin_quotes_spinner {
    width: 32px;
}