@import "bootstrap";

/* mixins, variables, etc. */
@mixin box_sizing {
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background-color: #F7F7F7 !important;
}

#main {
	font-family: "Open Sans", Arial, Helvetica !important;
	background-color: #F7F7F7 !important;
	padding-top: 24px;
}

.paginate_parent_top {
	margin-top: -24px;
	text-align: center;
}

.paginate_parent_bottom {
	text-align: center;
}

.pagination > .active > a {
	background-color: #866bb9 !important;
	border-color: #866bb9 !important;
}

.pagination > li:not(.active):not(.disabled) > a {
	color: #866bb9 !important;
}

/* header */

nav {
	border-top: 8px solid #866bb9 !important;
}

#logo {
	font-size: 1.7em;
	color: #4A4A4A;
	letter-spacing: -1px;
	font-weight: bold;
	&:hover {
		color: #866bb9;
		text-decoration: none;
	}
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}
.field with errors {
	@extend .control-group;
	@extend .error;
}

.btn-custom {
  background-color: #866bb9;
  border-color: #866bb9;
  color: white;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #785ab1;
  border-color: #6b4da4;
  color: white !important;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #866bb9;
  border-color: #866bb9;
  color: white !important;
}