@import "bootstrap";

/* mixins, variables, etc. */
@mixin box_sizing {
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: "Open Sans", Arial, Helvetica !important;
	background-color: #F7F7F7 !important;
}

main {
	background-color: #F7F7F7 !important;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}
.field with errors {
	@extend .control-group;
	@extend .error;
}