// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin individual_quote {
	overflow: auto;
	border-radius: 12px;
	background-color: white;
	border: 1px solid #eee;
	text-align: center;

	&:hover {
		border: 1px solid #ddd;
	}

	.show_quote_text_area {
		padding: 24px 24px 6px 24px;
	}
}

.quote_explicit_message {
	font-size: 12px;
	color: #828282;
}

.quote_explicit_show_form {
	margin-bottom: 0px;
	display: inline;
}

.quote_explicit_show_form button {
	background: none;
	border: none;
	color: #606060;
}

.quote_explicit_show_form button:hover {
	text-decoration: underline;
}

.quote_explicit_show_form button:focus {
	outline: 0;
}

ul.quotes_search {
	list-style: none;
	margin: 0;
	padding: 0;	
}

.quote_search_result_link {
	color: black;
}

.quote_search_result_link:hover {
	color: black;
	text-decoration: none;
}

.quote_search_result_link .panel-heading {
	background-color: #EEE;
	color: #555;
}

.quote_search_result_link .panel-body {
	white-space: nowrap;
	overflow: hidden;
	padding-bottom: 8px;
}

.quote_search_result_link .panel-body:hover {
	white-space: normal;
}

ul.quotes {
	list-style: none;
	margin: 0;
	padding: 0;

	font-size: 18px;
	text-align: center;
	li {
		width: 88%;
		margin-bottom: 24px;
		display: inline-block;
		@include individual_quote;
		padding: 12px;
		&:last-child {
			border-bottom: 1px solid #eee;
		}
	}
}

ul.quotes li .quote_text_area {
	width: 88%;
	margin: 0 auto;
}

ul.quotes li .quote_text_art_label {
	text-align: right !important;
}

#show_quote .quote_text_art_label {
	text-align: right !important;
	margin-right: 6px;
	margin-top: 3px;	
}

.quote_text_art_label a {
	color: #999;
	font-size: 12px;
}

.quote_text_art_content_parent {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.quote_text_art_content_parent_show_quote {
	width: 410px;
	margin-left: auto;
	margin-right: auto;	
}

ul.quotes li .quote_vote_area {
	position: absolute;
	margin-top: -6px;
}

.fa-chevron-up.active {
	color: #ED8D26;
}

.fa-chevron-down.active {
	color: #6DA6E3;
}

.quotes_list_stream_name_date {
	margin-top: 12px;
	font-size: 12px;
}

.quotes_list_stream_name_date .quote_link {
	text-decoration: none;
	margin-right: 4px;
	color: rgb(170, 170, 170);
}

.quotes_list_stream_name_date .quote_link:hover {
	color: rgb(120, 120, 120);
}

.quote_actions {
	text-align: left;
	display: inline-block;
	font-size: 18px;
	color: rgb(255, 255, 255);
	background: #866bb9;
	padding: 3px 12px;
	border-radius: 4px;
	margin-top: 6px;
}

/*show quote page*/

#show_quote {
	font-size: 22px;
	@include individual_quote;

	padding: 0px 0px 24px 0px;

	.panel-heading {
		padding-left: 50px;
		text-align: left;
	}
}

/*add quote page*/

.add_quote_main_content {
	padding: 0 8%;
}

#channels_search_form > input {
	border: 0;
	background: transparent;
	font-size: 40px !important;

	&:focus {
		outline: 0;
	}
}

#new_quote_selected_stream_text {
	margin-bottom: 8px;
	color: #888;
	display: none;
}

#new_quote_selected_stream_text span {
	color:#333;
}

#new_quote_form {
	display: none;
}

#new_quote_text_art_options {
	text-align: center;
	margin-top: -7px;
	margin-bottom: 8px;
}

#new_quote_text_art_options div {
    display: inline-block;
    margin-right: 8px;
    height: 22px;
    padding: 2px 8px 2px 8px;
    border-radius: 4px;
    background-color: #999;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.new_quote_text_art_options_options_active {
    background-color: #866bb9 !important;
    cursor: default !important;
}

#available_emoticons_box {
	display: none;
	text-align: center;
	margin-top: 30px;
	padding: 0 8%;
}

ul#channels {
	list-style: none;
	margin: 0;
	padding: 0;
}

.spinner {
	display: none;
	img {
		width: 40px;
	}
}

#channels li {
	padding: 5px;
	border: solid #baaad7 3px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	color: #545454;

	&:hover {
		border: solid #866bb9 3px;
	}
}

#channels li > div {
	display: inline-block;
	vertical-align: middle;
}

#channels .logo {
	margin-right: 10px;
}

#channels .logo > img {
	width: 48px;
}

#channels .name_status > div > div {
	display: inline-block;
	padding: 0 8px;
	border-right: 2px #ADADAD solid;
}

#channels .name_status > div > div:last-child {
	border-right: 0px;
}

#channels .name_follower_game {
	font-size: 20px;
}

#channels .status {
	margin-top: 8px;
	padding: 0 8px;
}

#channels .name {
	font-weight: bold;
	color: black;
}

.new_like, .edit_like {
	display: inline-block;
	margin-bottom: 0px;
}

.new_like, .edit_like {
	button {
		background: transparent;
		border: none;
		padding: 0;

		&:focus {
			outline: none;
		}
	}
}

.new_dislike, .edit_dislike {
	display: inline-block;	
	margin-bottom: 0px;
}

.new_dislike, .edit_dislike {
	button {
		background: transparent;
		border: none;
		padding: 0;
		
		&:focus {
			outline: none;
		}
	}
}

.copy_clipboard {
	cursor: pointer;
}

.ascii_preview_box {
	margin-bottom: 20px;
}

.ascii_preview_box .ascii_preview_parent {
	padding: 10px 10px 0px 10px;
	border: solid #BBB 1px;
	border-radius: 10px;
	background-color: white;
}

.ascii_preview_box .ascii_preview_parent:hover {
	border: solid #888 1px;
}

.ascii_preview_box .ascii_preview_parent .ascii_preview_content {
	border: solid #888 1px;
	height: 100%;
	border-radius: 10px;
	height: 200px;
	background-color: white;
	color: black;
	overflow: hidden;
	font-size: 10px;
}

.ascii_preview_box .ascii_preview_parent .ascii_preview_content:hover {
	border: solid #555 1px;
}

.ascii_preview_content > div {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.ascii_preview_box .ascii_preview_parent .ascii_preview_title {
	color: black;
	padding-top: 5px;
	padding-bottom: 12px;
	font-size: 18px;
	overflow: hidden;
}

.ascii_preview_box > a:hover {
	text-decoration: none !important;
}