$quote_search_form_wrapper_padding: 15;
$search_text_button_height: 45;
$search_text_button_font_size: 18;
$search_options_height: 22;
$search_options_margin_top: 8;

#quote_search_form {
    text-align: center;
    margin: 0;

    input:focus {
        outline: 0px;
    }
}

.quote_search_form_wrapper {
    background-color: #EFEFEF;
    display: inline-block;
    border-radius: 12px;
    margin-bottom: 25px;
    padding: 12px;
}

#search_text_parent, #search_button_parent {
    padding: 0;
    padding-bottom: 2px;
}

#search_text_parent {
    padding-right: 10px;
}

#search_text_parent > input {
    font-size: $search_text_button_font_size + px;
    height: $search_text_button_height + px;
    border-radius: 5px;
    color: #555;
    margin: 0;
}

#search_button_parent > button {
    font-size: $search_text_button_font_size + px;
    height: $search_text_button_height + px;
    color: #555;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    border: solid 1px #bbb;
    width: 100%;
    margin: 0;
}

#search_button_parent > button:focus {
    outline: 0;
}

#search_options {
    text-align: center;
    margin-top: $search_options_margin_top + px;
}

#search_options div {
    display: inline-block;
    margin-right: 8px;
    height: $search_options_height + px;
    padding: 2px 8px 2px 8px;
    border-radius: 4px;
    background-color: #999;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.search_options_active {
    background-color: #866bb9 !important;
    cursor: default !important;
}

#number_of_search_results {
    color: #555;
    margin-bottom: 8px;
}