#show_quotes_swagbucks {
    margin-top: 8px;
    text-align: center;
}

#swagbucks {
    display: inline-block;
    width: auto;
    margin: 0 auto;
}

.ascii_art_swagbucks {
    text-align: center;
    padding: 36px 0;
}