<div class="row" id="site_footer">
    <div class="well">
        <button class="btn btn-custom" id="twitchquotes_contact_button" onclick="show_twitchquotes_email()">Contact</button> Any questions or concerns? Tell us what you think about TwitchQuotes
    </div>
</div>

<script>
    function show_twitchquotes_email() {
        var contact_button = document.getElementById("twitchquotes_contact_button");
        contact_button.innerHTML = "twitchquotes@outlook.com";
    }
</script>