<div class="row" id="site_footer">
    <div class="well">
        <button class="btn btn-custom" id="twitchquotes_contact_button" onclick="show_twitchquotes_email()">Contact</button> Any questions or concerns? Tell us what you think about TwitchQuotes
    </div>
</div>