<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="facebook_sign_in_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Sign In with Facebook</h4>
      </div>
      <div class="modal-body">
        <button id="facebook_sign_in_styled" onclick="document.getElementById('facebook_sign_in').click()">Sign in with Facebook</button>
      </div>
    </div>
  </div>
</div>