<li><%= link_to new_quote_path do %>
    <span class="glyphicon glyphicon-plus" title="New quote"></span>
<% end %></li>
<li><%= link_to streams_path do %>
    <span class="glyphicon glyphicon-th-large" title="All streams"></span>
<% end %></li>
<li><%= link_to about_path do %>
    <span class="glyphicon glyphicon-leaf" title="About"></span>
<% end %></li>