<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="server_error_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Sorry, server error!</h4>
      </div>
      <div class="modal-body" style="text-align: center">
        ヽ༼ຈل͜ຈ༽ﾉ FIX OR RIOT!!! ヽ༼ຈل͜ຈ༽ﾉ
      </div>
    </div>
  </div>
</div>